@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

body {
    
    font-family: 'Quattrocento', serif;
    height:100%;
}

.body{
    padding-bottom:60px;   /* Height of the footer */
}

.container{
    min-height:100%;
    position:relative;
}

.footer {   
    flex-shrink: 0; 
    bottom: 0;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

