body{
    background-color: whitesmoke;
}


/* CityCard Style */

.cardContainer{
    position: relative;
    color: white;
    padding-top: 5%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: flex;
    justify-content: center;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardImage{
    max-height: 32vh;
    max-width: 85%;
}

/* Input style */

.previousMessage{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
}

.noResultsContainer{
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Spinner */

.spinnerContainer{
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cities style */
.listContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
