body{
    background-color: whitesmoke;
}


/* CityCard Style */

.mainContainer{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5%;
}

.titleContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardImage{
    max-height: 27vh;
}

/* Input style */

.previousMessage{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
}

.noResultsContainer{
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Spinner */

.spinnerContainer{
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
