body{
    background-color: white;
}


/* CityCard Style */

.cardContainer{
    position: relative;
    color: white;
    padding-top: 5%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: flex;
    justify-content: center;
    margin: 1% 1% 1% 1%;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardImage{
    max-width: 394px;
    max-height: 222px;
}

.links{
    text-decoration: inherit;
}

/* Input style */


.displayForm{
    display: flex;
    justify-content: space-around;
}
.previousMessage{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
}

.noResultsContainer{
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMessage{
    margin-top: 12px;
}

/* Spinner */

.spinnerContainer{
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cities style */
.listContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
