
a {
    color: black;
    text-decoration: none; /* no underline */
  }

.itinerariesContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
    width: 100%;
}

.links{
    display: flex;
    margin: 12px;
}

.description{
    text-align:justify;
}

h6{
    margin: 6px;
}

.unit{
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: center;
}
.ItineraryCard{
    max-width: 88%;

}

.itineraryImage{
    max-width: 100%;
}

.imageContainer{
    max-width: 100%;
}

.activitiesBanner {
    display: flex;
    justify-content: center;
}

/* Carousel style */
.activitiesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carouselContainer {
    width: 80%;
}

.activityImage {
    max-width: 100%;
    min-width: 80%;
    max-height: 40vh;
    min-height: 40vh;
}
