
a {
    color: black;
    text-decoration: none; /* no underline */
  }

.itinerariesContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
    width: 100%;
}

.links{
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
}

.description{
    text-align:justify;
}

h6{
    margin: 6px;
}

.unit{
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: center;
}
.ItineraryCard{
    max-width: 88%;

}

.itineraryImage{
    max-width: 100%;
}

.imageContainer{
    max-width: 100%;
}

.MuiTypography-displayBlock {
    display: block;
    text-align: center;
}

span.MuiTypography-root.MuiCardHeader-title{
    font-size: 1.30rem;
}

div.MuiCardContent-root > p {
    font-size: 1.15rem;
}

.activitiesBanner {
    font-size: 1.85rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

div.MuiCardActions-root {
    padding: 16px;
}

.d-md-block h3 {
    background: rgba(255,255,255, 0.5);
}

/* Carousel style */
.activitiesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.carouselContainer {
    width: 80%;
}

.activityImage {
    max-width: 100%;
    min-width: 80%;
    max-height: 40vh;
    min-height: 40vh;
}

@media screen and (max-width: 700px) {
    span.MuiTypography-root.MuiCardHeader-title{
    font-size: 1.35rem;
    }

    div.MuiCardContent-root > p {
        font-size: 0.875rem;
    }

    .d-md-block {
        display: block!important;
    }

    .d-md-block h3 {
        font-size: 1.15rem;
    }

    .activitiesBanner {
        font-size: 1.35rem;
        color: #17a2b8;
    
    }

    .activitiesContainer {
        padding: 20px 0px 20px 0px;
    }

    .carouselContainer {
        width: 90%;
    }

    .activityImage {
        max-width: 100%;
        min-width: 80%;
        max-height: 40vh;
        min-height: 35vh;
    }

    div.activitiesContainer > h3 {
        font-size: 1.15rem;
    }

    
     
  }