

.landingPage{
    background-image: url(./barcelona.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: scroll;
    width: 104%;
    height: 100vh;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(8px);
    -webkit-filter: blur(1px);
}

h2 {
    display: flex;
    justify-content: center;
}

.screenshot{
    width: 100%;
    margin-bottom: -107px;
}

.content{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textContainer{
    background-color: whitesmoke;
    padding-top: 60px;
    margin-left: -4%;
    width: 105%;
    margin-bottom: 162px;
}

.button{
    background-color: azure;
    color: black;
}

/* AppNavbar style */

.navCol{
    background-color: azure;
}
.navbar-brand{
    font-size: 2rem;
}

.nav-item {
    font-size: 1.6rem;
}


.userData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 154px;
}


.profileImg {
    border-radius: 50%;
    max-width: 50px;
}


@media screen and (max-width: 700px) {

    .navbar-brand{
        font-size: 1.25rem;
    }
    
    .userData {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-link {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        font-size: 1rem;
    }

    

}